/*
    Prussian Blue: #0B3C5D
    Sky Blue: #328CC1
    Gold Leaf: #D9B310
    Ivory Black: #1D2731
    Paper #F4F4F4
*/

.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper > * {
    flex: 1 100%;
}

.main {
    background: rgba(10,10,10,0.95);
    border: 1em solid #0b0b0b;
    text-align: left;
    padding: 1em;
}

.nav-right {
    background: rgba(10,10,10,0.95);
    border: 1em solid #0b0b0b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background: rgba(10,10,10,0.95);
    border: 1em solid #0b0b0b;
    /*border-top: 0em solid #0b3c5d;
    border-bottom: 0em solid #0b3c5d;*/
    padding: 1em 1em 0em 1em;
}

@media (max-width: 1440px) {
    html, body {height: auto; font-size: 1.2rem;}
    .main {margin-bottom: 1em;}
    body {padding: 1em; border: 0em;}
    .footer {margin-top: 1em; font-size: 1rem;}
    .maincontent {max-width: unset; font-size: 1rem;}
    .nav-li {font-size: 1rem;}
}

@media (min-width: 1441px) {
    html, body {height: 100%;}
    .main {margin-right: 2em;}
    body {padding: 6em; border: 1em solid #0b0b0b;}
    .footer {margin-top: 2em; font-size: 1rem;}
    .maincontent {max-width: 600px; font-size: 1rem;}
    .nav-li {font-size: 1rem;}
}

@media all and (min-width: 600px) {
    .aside {flex: 1 auto; }
    
}

@media all and (min-width: 1440px) {
    .main { flex: 10 0px;}
    .nav-right {order: 3;}
    .footer {order: 4;}
}

body {
    color: #d9b310;
    background: url("background.jpg") no-repeat center;
    background-size: cover;
}

.url:link {
    text-decoration: underline;
}

a:link {
    color: #d9b310;
}

a:visited {
    color: #d9b310;
}

a:hover {
    color: #0b0b0b;
    background-color: #d9b310;
    text-decoration: none;
}

a:active {
    color: #f4f4f4;
}

.nav-ul {
    margin: 0 0 0.4em 0;
}

.nav-li {
    margin: 1em 0;
} 

.pub-heading {
    margin: 0 0;
}

.pub {
    margin: 1em 0;
}

.pub-title {
    font-weight: bold;
}

.list-item {
    padding-left: 15px;
}
